@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Cross-Stitch Management System!</h1>
    <p>Sign up or login to track all of your cross-stitch projects and supplies.</p>
    <a href="/Users/Create" class="btn btn-primary">Sign Up</a>
    <a href="@Url.Action("Index", "Account")" class="btn btn-primary">Login</a>
</div>
